@charset "UTF-8";

.clearfix:after  {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family:  'Lato';
  background-color: #f2f2f2;
}
a {
  display: inline-block;
  text-decoration: none;
}
.f-raleway {
  font-family: 'Raleway';
}
.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}
.header_inner {
  padding: 15px 0;
}
.btn {
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  text-align: center;
  transition: all 0.3s;
}
.contact_btn {
  padding: 14px 12px;
  float: right;
}
.bolt {
  float: left;
  color: #4e4e4e;
}

.main  {
  padding-top: 72px;
  background-color: #f2f2f2;
}

.title {
  padding:250px 0;
  background-color: #f2f2f2;
}
.main_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}
.headline_text  {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

.what-we-can-do {
  background-color: #74cfae;
  padding-top:  50px; 
}
.iphone_area {
  font-size: 0;
}
.iphone_title_text_box {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-top:  20px; 
}
.iphone_picture {
  text-align: center;
  width: 40%;
  display: inline-block; 
}
.what-we-can-do_title {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.iphone_text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  text-align: center;
}

.our-latest-work {
  padding: 60px 0 70px;  
}
.our_latest_work_title {
  font-size:  24px;
  text-align: center;  
}
.text_box {
  margin-top: 90px;
  text-align: center;
}
.work_text {
  font-size: 20px;
  text-align: center;
  width: 52%;
  display: inline-block;
}
.email_btn {
  padding: 14px 20px;
}
.work_btn {
  margin-left: 90px;
  display: inline-block;
  vertical-align: top;
}
.btn:hover {
  color: #333;
}
.our-latest-work-list a {
  opacity: 0.7;
  transition: all 0.3s;
}
.our-latest-work-list > li {
  float: left;
  list-style: none;
  margin-top: 80px;
  margin-left: 100px;
}
.our-latest-work-list {
  margin-top: 40px; 
}
.our-latest-work-list > li:nth-child(3n+1) {
  margin-left: 0; 
}
.our-latest-work-list > li:nth-child(-n+3) {
  margin-top: 0;
}
.our-latest-work-list > li:hover a {
  opacity: 1;
}
.oue-skills {
  background-color: #333;
  padding:  70px  0 100px; 
}
.our_skills_title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.circle {
  text-align: center;
  margin-top: 70px; 
}
.circle_mix {
  margin-left:  180px; 
  display: inline-block;
}
.circle_mix:first-child {
  margin-left: 0;
}
.circle_text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top:  20px;
}

.nav_sns {
  padding: 200px 0;
}
.sns {
  color: #74cfae;
  background-color: #f2f2f2;
  text-align: center;
  cursor: pointer;
  width: 185px;
  padding: 20px 0;
  transition: all 0.3s;
}
.sns_item {
  display: inline-block;
}
.sns_list {
  text-align: center;
}
.sns:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}
.footer_text {
  color:  #fff;
  text-align: right;
}


/*  TAB SP  */
@media screen and (max-width:  1199px) {
  .inner {
    width: 97%;
  }
  .what-we-can-do {
    padding: 50px 0 25px;
  }
  .iphone_picture {
    width: 100%;
    display: block;
  }
  .iphone_title_text_box {
    width: 100%;
    margin-top: 20px;
    padding-top: 0; 
  }
  .our-latest-work-list {
    margin-top: 40px;
    text-align: center 
  }
  .our-latest-work-list > li {
    float: none;
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    font-size: 0;
  }
  .our-latest-work-list > li:nth-child(4) {
    margin-top: 80px;
  }
  .our-latest-work-list > li:hover a {
    opacity: 0.7;
    transition: all 0.3s;
  }
  .text_box {
    margin-top: 80px;
  }
  .work_text {
    width: 100%;
  }
  .work_btn {
    margin: 40px 0 0;
  }
  .circle_mix:first-child {
    margin-top: 0;
  }
  .circle_mix {
    margin: 88px 0 0; 
    display: block;
  }
  .sns {
    color: #74cfae;
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
    width: 185px;
    padding: 20px 0;
    transition: all 0.3s;
  }
}

/*  SP  */
@media screen and (max-width: 767px) {
  .contact_btn {
    display: none;
  }
  .humberger {
    position: relative;
    height: 30px;
    width: 36px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    float: right;
  }
  .humberger div {
    position: absolute;
    height: 1px;
    width: 15px;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }
  .humberger div:nth-of-type(1) {
    top: 8px;
  }
  .humberger div:nth-of-type(2) {
    top: 14px;
  }
  .humberger div:nth-of-type(3) {
    bottom: 7px;
  }
  .title {
    padding:160px 0 130px;
  }
  .main_title {
    font-size: 80px;
  }
  .headline_text  {
    font-size: 30px;
    margin-top: 20px;
  }
  .nav_sns {
    padding: 50px 0;
  }
  .sns {
    color: #74cfae;
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s;
  }
  .sns_item {
    display: block;
  }
}
